<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
      xmlns="http://www.w3.org/1999/html">

<style>

    body{
        background-image: url(/static/d.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    input{
        padding: 12px 20px;
        margin: 10px 30px;
    }

    .center-column{
        width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
    }

    .complete{
        background-color: #b2dce4;
        margin: 10px;
        padding: 20px;
        border-radius: 3px;
        color: #000101;
        font-size: 16px;
        box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
    }

    .btn-primary{
        width: 500px;
    }


</style>


<div class="center-column">
    <form method="POST" action="">
        {% csrf_token %}

        <div class="complete">
            {{form}}
        </div>
        <input class="btn btn-primary" type="submit" name="Update Task">
    </form>
</div>